*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DMSans";
}

body,html{
    background-color: var(--clr-blue-900);
    // height: 100%;
    // width: 100%;
    overflow-x: hidden;
}


img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1{
    font-size: clamp(1rem,calc(0.5rem + 2vw), 1.5rem);
}

button {
    all: unset;
    cursor: pointer;

    :focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

input {
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}