@import '../../css/base/mixin';

.body-container{
    .statistics-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        min-height: 97px;
        padding:0 15px ;

        .image-container{
            background-color: var(--clr-blue-800);
            width: 56px;
            aspect-ratio: 1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-width: 30%;
            }
        }

        .balance-image-container{
            background-color: var(--clr-blue-800);
            width: 56px;
            aspect-ratio: 1;
            border-radius: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            object-fit: contain;
            overflow: hidden;
        
            img{
                object-fit: cover;
                max-width: 165%;
            }
        }

        span{
            font-weight: 500;
            font-size: clamp(7px, calc(10px + 1vw), 11px);
        }

        .number-container{
            font-weight: 700;
            font-size: clamp(7px, calc(10px + 1vw), 20px);
            margin: 0;
            padding: 0;
        }

        .new-task-container{
            background-image: linear-gradient(to right,var(--clr-blue-200),var(--clr-blue-100));

            img{
                max-width: 100%;
            }
        }
    }

    .line-chart-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description-container{
            span{
                font-size: clamp(5px, calc(10px + 1vw), 12px);
            }

            .green-arrow-container{
                width: 9px;
                aspect-ratio: 1;
            }
        }

        #line-chart{
            width: 100%;
        }
    }

    .bar-chart-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description-container{
            span{
                font-size: clamp(5px, calc(10px + 1vw), 12px);
            }
        }

        #weekly-revenue-bar-chart{
            width: 100%;
            margin: 0 auto;
        }
    }

    .check-table-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description-container{
            span{
                font-size: clamp(5px, calc(10px + 1vw), 12px);
            }
        }

        table {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse;
            background-color: var(--clr-blue-850);
            border-radius: 10px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: var(--clr-blue-850);
            color: #fff;
        }

        td p {
            margin: 0;
        }

        .checkbox {
            margin: 0;
            padding: 0;
        }

        .name-column {
            display: flex;
            align-items: center;
        }

        .name-column input {
            margin-right: 10px;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid white;
            background-color: var(--clr-blue-850);
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            font-size: clamp(5px,calc(10px + 1vw), 14px);

            &:checked {
                background-color: var(--clr-purple-500);
                border-color: var(--clr-blue-850);
            }

            &:checked::after {
                content: "✔";
                font-size: 12px;
                align-items: center;
                color: var(--clr-blue-850);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .daily-traffic-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        #daily-traffic-bar-chart{
            width: 100%;
            margin: 0 auto;
        }
    }

    .pie-chart-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        #pie-chart{
            width: 100%;
            margin: 0 auto;
        }

        .description-container{
            width: 95%;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 0.4px;
                background-color: var(--clr-gray-100);
                opacity: 0.4;
                height: 70%;
            }

            div:nth-child(1){
                // background-color: red;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -15px;
                    background-color: var(--clr-purple-500);
                    border-radius: 50%;
                    width: 10px;
                    aspect-ratio: 1;
                }
            }

            div:nth-child(2){
                // background-color: blue;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -15px;
                    background-color: var(--clr-blue-200);
                    border-radius: 50%;
                    width: 10px;
                    aspect-ratio: 1;
                }
            }
        }
    }

    .complex-table-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;
        overflow: hidden;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .description-container{
            span{
                font-size: clamp(5px, calc(10px + 1vw), 12px);
            }
        }

        table {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse;
            background-color: var(--clr-blue-850);
            border-radius: 10px;
        }

        thead{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: -10%;
                width: 120%;
                height: 1px;
                background-color: #39425e;
            }
        }

        th, td {
            padding: 10px;
            text-align: left;
            font-size: 14px;
        }

        th {
            background-color: var(--clr-blue-850);
            color: #fff;
        }

        td p {
            margin: 5px 0;
        }

        .status {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        
        .status img {
            width: 16px;
            height: 16px;
        }
        
        .progress-container {
            width: 100%;
            background-color: var(--clr-blue-800);
            border-radius: 4px;
            overflow: hidden;
        }
        
        .progress-bar {
            height: 8px;
            width: 0;
            transition: width 0.5s;
        }
    }

    .tasks-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input[type="checkbox"] {
            margin-right: 10px;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid white;
            background-color: var(--clr-blue-850);
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            font-size: clamp(5px,calc(10px + 1vw), 14px);

            &:checked {
                background-color: var(--clr-purple-500);
                border-color: var(--clr-blue-850);
            }

            &:checked::after {
                content: "✔";
                font-size: 12px;
                align-items: center;
                color: var(--clr-blue-850);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .todo-list-container {
            height: 100%;
        }
    }

    .date-picker-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        padding: 20px;
        min-height: 345px;

        .date-picker {
            color:  var(--clr-gray-100);
            width: 100%;
            max-height: 345px;
            margin: 0 auto;  

            .controls {
                display: flex;
                justify-content: space-around;
                margin-bottom: 10px;
            }
    
            select {
                padding: 5px;
                font-size: 14px;
                background-color: transparent;
                border: 0;
                color: var(--clr-gray-100);

                option {
                    background-color: transparent;
                    color: var(--clr-gray-100);

                    &:focus{
                        background-color: var(--clr-blue-850);
                        color: #fff;
                    }
                }

                &:focus{
                    background-color: var(--clr-blue-850);
                    color: #fff;
                }
            }
    
            .days-of-week {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                text-align: center;
                margin-bottom: 10px;
                font-weight:500;
            }
            
            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                // background-color: aquamarine;

                .day {
                    width: 28px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 50%;
                    margin: 5px auto;

                    &.selected-start{
                        background-color: var(--clr-purple-500);
                        color: rgb(0, 0, 0);
                    }

                    &.selected-end{
                        background-color: var(--clr-purple-500);
                        color: rgb(0, 0, 0);
                    }
    
                    &.in-range {
                        background-color: rgb(116 81 255 / 9%);
                        color: white;
                    }
                }
            }            
        }
    }
    
    .business-design-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        min-height: 345px;
        overflow: hidden;
        position: relative;

        .header-container{
            padding: 0 20px; 

            .header-image-container{
                height: 48px;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .body-container{
            padding:0 20px;
        }

        .footer-container{
            padding:20px;
            
            ul{
                position: relative;
                // margin: 0 20px;

                .avatar-container{
                    width: 30px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    overflow: hidden;
                    border:3px solid var(--clr-blue-800);
                    background-color: var(--clr-blue-850);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
    
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .team-members-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        min-height: 345px;
        padding: 20px;
        overflow: hidden;
        position: relative;

        .header-image-container{
            height: 48px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        ul{
            .profile-image-contianer{
                height: 48px;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img{
                    object-fit: cover;
                }
            }
        }
    }

    .control-card-security-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        min-height: 345px;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }

    .starbucks-container{
        background-color: var(--clr-blue-850);
        border-radius: 20px;
        min-height: 345px;
        padding: 20px;
        overflow: hidden;
        position: relative;

        .header-image-container{
            width: 100%;
            max-height: 50%;

            img{
                width: 100%;
                max-height: 185px;
                object-fit: cover;
            }
        }

        .clock-image-container{
            width: 43px;
            aspect-ratio: 1;
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #878c9a5d;
            backdrop-filter: blur(10px);
            cursor: pointer;
        }

        .starbucks-image-container{
            width: 60px;
            aspect-ratio: 1;
            position: absolute;
            left: 30px;
            bottom: 0;
            transform: translate(0,50%);
        }
    }
}
