@import "../base/mixin";

.body-container{
    display: flex;
    flex-direction: column;

    .item{
        border-radius: 20px;
        padding: 20px;
    }

    .user-profile-container{
        height: 300px;

        .background-image-container{
            width: 100%;
            height: 100px;
            overflow: hidden;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-image-container{
            width: 80px;
            aspect-ratio: 1;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            border:3px solid var(--clr-blue-800);
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .storage-container{
        height: 300px;

        .header-image-container{
            width: 37px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .body-image-container{
            width: 100px;
            aspect-ratio: 1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: -5px;
            overflow: hidden;

            img{
                width: clamp(30px, calc(20px + 1vw), 45px);
            }
        }

        .progress-container {
            width: 100%;
            background-color: var(--clr-blue-800);
            border-radius: 4px;
            overflow: hidden;
        }

        .progress-bar {
            height: 8px;
            width: 0;
            transition: width 0.5s;
            border-radius: 4px;
        }
    }

    .upload-file-container{
        min-height: 300px;
        // background-color: red;

        @include media-query(1200px){
            min-height: 370px;
            // background-color: blue;
        }

        .upload-image-container{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: var(--clr-blue-800);
            border:2px dashed #2c365a;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow: hidden;

        img{
            width: clamp(30px, calc(20px + 1vw), 45px);
            aspect-ratio: 1;
        }
        }
    }

    .all-projects-container{
        min-height: 370px;

        .card-image-container{
            border-radius: 10px;
            overflow: hidden;
            height: 50px;
            aspect-ratio: 1;

            img{
                height: 100%;
                object-fit: cover;
            }
        }

        .edit-image-container{
            width: 10px;
            aspect-ratio: 1;
            margin: 0;

            img{
                width: 7px;
                height: 7px;
                margin: auto;
            }
        }
    }
}