@import '../../css/base/mixin';

.sidebar-container{
    min-height: 100dvh;
    height: 100dvh;
    background-color: var(--clr-blue-850);
    position: relative;
    transform: translateX(0);
    opacity: 1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;

    @include media-query(576px){
        position: absolute;
        z-index: 2;
    }

    .sidebar-title-container{
        padding: 40px;
        transition: 0.3s ease-in-out;

        @include media-query(1200px){
            padding: 20px;
        }

        @include media-query(576px){
            padding: 10px;
        }

        h1,span{
            transition: opacity 0.3s ease-in-out;
        }

        h1{
            font-weight: 700;
            font-size: clamp(15px, calc(10px + 1vw), 26px);
        }

        span{
            font-weight: 400;
            font-size: clamp(15px, calc(10px + 1vw), 26px);
        }
    }

    .sidebar-menu-container{
        border-top:2px solid #222c54;
        padding: 30px 0 30px 15px;
        font-weight: 700;
        font-size: clamp(12px,calc(4px + 1vw), 16px);
        max-width:290px;

        @include media-query(1200px){
            padding: 15px 0 15px 5px;
        }

        @include media-query(576px){
            padding: 15px 0 15px 0px;
        }

        li{
            cursor: pointer;
            width: 100%;
            height: 36px;
            position: relative;
            transition: opacity 0.3s ease-in-out;
            // background-color: red;

            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 0;
                width: 5px;
                border-radius: 2px;
                background-color: var(--clr-purple-500);
                transition: height 0.3s ease-in-out;
            }

            &:hover::after{
                color:var(--clr-purple-500);
                height: 100%;
            }

            .menu-title{
                // display: block;
                transition: opacity 0.3s ease-in-out;
            }

            .menu-icon-container{
                width: 24px;
                aspect-ratio: 1;

                @include media-query(576px){
                    width: 17px;
                }

                img{
                    width: 100%;
                    aspect-ratio: 1;
                }
            }
        }

        .active-page{
            &::after{
                color:var(--clr-purple-500);
                height: 100%;
            }
        }
    }

    .sidebar-upgrade-to-pro{
        background-image: linear-gradient(to top left, var(--clr-purple-600), var(--clr-purple-400));
        margin: 0 10px 20px;
        max-width: 228px;
        border-radius: 24px;
        text-align: center;
        padding: 0 0 35px 0;
        transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 1;

        @include media-query(1200px){
            padding: 0 0 20px 0;
        }


        .image-container{
            width: 35%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-image: linear-gradient(to top, var(--clr-purple-600), var(--clr-purple-400));
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 6px solid var(--clr-blue-850);
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0%,-50%);

            img{
                width: 55%;
            }
        }

        p{
            font-weight: 700;
            font-size: clamp(8px,calc(8px + 1vw), 16px);
            padding: 0;
            margin: 0;
        }

        span{
            font-weight: 500;
            font-size: clamp(8px,calc(8px + 1vw), 14px);
        }
    }
}

    
// ********************************hide****************************************

.sidebar-container.hide{

    @include media-query(576px){
        position: relative;
        z-index: 2;
    }

    .sidebar-title-container{
        padding: 0;
        width: 0;

        h1{
            opacity: 0;
            visibility: hidden;
            // display: none;
        }

        span{
            opacity: 0;
            visibility: hidden;
            // display: none;
        }
    }

    .sidebar-menu-container{
        border-top:0;
        padding: 30px 0 30px 5px;

        li{
            .menu-title{
                opacity: 0;
                visibility: hidden;
                width: 0;
                // display: none;
            }
        }
    }

    .sidebar-upgrade-to-pro{
        width: 0;

        p{
            opacity: 0;
            visibility: hidden;
            // display: none;
        }

        span{
            opacity: 0;
            visibility: hidden;
            // display: none;
        }
    }
}